html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  align-items: center;
}

.columns {
  justify-content: space-around;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d05c2e;
}

img {
  width: 40px;
}

h1 {
  font-size: 2rem;
  color: #fff;
  padding: .5rem 0;
  margin: 0;
}

.navigation {
  display: flex;
  justify-content: space-around;
  background-color: #d05c2e;
  margin: 0;
  padding: .4rem 0;
  list-style-type: none;
  border-top: 2px solid #a63f38;
  border-bottom: 2px solid #a63f38;
}

ol li {
  display: block;
  border-right: 2px solid #a63f38;
}

.navigation a {
  font-size: 1.125rem;
  color: #fff;
  text-decoration: none;
  padding: .4rem 0;
  display: block;
}

.navigation li:hover {
  background-color: #a63f38;
}
